@using OnlineShopWebApp.Areas.Admin.Models
@model ChangePassword

<form method="post">
    <h4>Редактирование пароля</h4>
    <br />
    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
    
    <input type="hidden" name="Name" value="@Model.Name"></input>

    <div class="row">
        <label asp-for="Password" class="col-sm-2 col-form-label">Введите новый пароль</label>
        <div class="col-sm-8">
            <input Asp-for="Password" type="text" class="form-control" value="@Model.Password">
            <span asp-validation-for="Password" />
        </div>
    </div>
    <br />
    <div class="row">
        <label asp-for="ConfirmPassword" class="col-sm-2 col-form-label">Повторите пароль</label>
        <div class="col-sm-8">
            <input asp-for="ConfirmPassword" type="text" class="form-control" value="@Model.ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" />
        </div>
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-primary" asp-area="Admin" asp-controller="User" asp-action="ChangePassword">Сохранить</button>
    <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="User" asp-action="Details" asp-route-name="@Model.Name">Отмена</a>
</form>